node_modules

# testing
/coverage

# svelte-kit
.svelte-kit
/build

# misc
.DS_Store
*.pem

# env files (can opt-in for committing if needed)
.env*

# typescript
*.tsbuildinfo

*storybook.log
storybook-static
